In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
autism_data = pd.read_csv('Autism_Data.arff')

In [3]:
autism_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 21 columns):
A1_Score           704 non-null int64
A2_Score           704 non-null int64
A3_Score           704 non-null int64
A4_Score           704 non-null int64
A5_Score           704 non-null int64
A6_Score           704 non-null int64
A7_Score           704 non-null int64
A8_Score           704 non-null int64
A9_Score           704 non-null int64
A10_Score          704 non-null int64
age                704 non-null object
gender             704 non-null object
ethnicity          704 non-null object
jundice            704 non-null object
austim             704 non-null object
contry_of_res      704 non-null object
used_app_before    704 non-null object
result             704 non-null int64
age_desc           704 non-null object
relation           704 non-null object
Class/ASD          704 non-null object
dtypes: int64(11), object(10)
memory usage: 115.6+ KB

In [4]:
# Check out Country of Residence
autism_data['contry_of_res']

0             'United States'
1                      Brazil
2                       Spain
3             'United States'
4                       Egypt
5             'United States'
6             'United States'
7               'New Zealand'
8             'United States'
9                     Bahamas
10            'United States'
11                    Burundi
12                    Bahamas
13                    Austria
14                  Argentina
15              'New Zealand'
16                     Jordan
17                    Ireland
18     'United Arab Emirates'
19     'United Arab Emirates'
20     'United Arab Emirates'
21     'United Arab Emirates'
22                Afghanistan
23     'United Arab Emirates'
24                    Lebanon
25                Afghanistan
26     'United Arab Emirates'
27                Afghanistan
28              'New Zealand'
29           'United Kingdom'
                ...
674          'Czech Republic'
675           'United States'
676          'United Kingdom'
677                  Ethiopia
678           'United States'
679               Afghanistan
680          'United Kingdom'
681           'United States'
682           'United States'
683           'United States'
684           'United States'
685                   Belgium
686           'United States'
687           'United States'
688                    Canada
689                    Canada
690                     India
691           'United States'
692           'United States'
693          'United Kingdom'
694           'United States'
695                    Brazil
696                 Australia
697               Philippines
698                 Australia
699                    Russia
700                    Mexico
701                    Russia
702                  Pakistan
703                    Cyprus
Name: contry_of_res, Length: 704, dtype: object

In [5]:
# List Column Names
autism_data.columns

Index(['A1_Score', 'A2_Score', 'A3_Score', 'A4_Score', 'A5_Score', 'A6_Score',
       'A7_Score', 'A8_Score', 'A9_Score', 'A10_Score', 'age', 'gender',
       'ethnicity', 'jundice', 'austim', 'contry_of_res', 'used_app_before',
       'result', 'age_desc', 'relation', 'Class/ASD'],
      dtype='object')

In [6]:
# Change Column Titles
list_labels = ['A1 Score', 'A2 Score', 'A3 Score', 'A4 Score', 'A5 Score', 'A6 Score',
'A7 Score', 'A8 Score', 'A9 Score', 'A10 Score', 'Age', 'Gender',
'Ethnicity', 'Jaundice', 'Autism in Family', 'Country of Residence', 
'Used App Before','Result', 'Age Description', 'Relation to Patient', 'ASD']
autism_data.columns = list_labels
autism_data.head()

,A1 Score,A2 Score,A3 Score,A4 Score,A5 Score,A6 Score,A7 Score,A8 Score,A9 Score,A10 Score,...,Gender,Ethnicity,Jaundice,Autism in Family,Country of Residence,Used App Before,Result,Age Description,Relation to Patient,ASD
0,1,1,1,1,0,0,1,1,0,0,...,f,White-European,no,no,'United States',no,6,'18 and more',Self,NO
1,1,1,0,1,0,0,0,1,0,1,...,m,Latino,no,yes,Brazil,no,5,'18 and more',Self,NO
2,1,1,0,1,1,0,1,1,1,1,...,m,Latino,yes,yes,Spain,no,8,'18 and more',Parent,YES
3,1,1,0,1,0,0,1,1,0,1,...,f,White-European,no,yes,'United States',no,6,'18 and more',Self,NO
4,1,0,0,0,0,0,0,1,0,0,...,f,?,no,no,Egypt,no,2,'18 and more',?,NO

In [7]:
# Remove commas
autism_data['Country of Residence'] = autism_data['Country of Residence'].str.replace(r"[\"\',]", '')
autism_data['Age Description'] = autism_data['Age Description'].str.replace(r"[\"\',]", '')
autism_data['Ethnicity'] = autism_data['Ethnicity'].str.replace(r"[\"\',]", '')
autism_data['Relation to Patient'] = autism_data['Relation to Patient'].str.replace(r"[\"\',]", '')

In [8]:
# Convert Relevant Column Values to String
autism_data[['Ethnicity','Gender','Country of Residence','ASD']] = autism_data[['Ethnicity','Gender','Country of Residence','ASD']].astype(str)

In [9]:
autism_data.head()

,A1 Score,A2 Score,A3 Score,A4 Score,A5 Score,A6 Score,A7 Score,A8 Score,A9 Score,A10 Score,...,Gender,Ethnicity,Jaundice,Autism in Family,Country of Residence,Used App Before,Result,Age Description,Relation to Patient,ASD
0,1,1,1,1,0,0,1,1,0,0,...,f,White-European,no,no,United States,no,6,18 and more,Self,NO
1,1,1,0,1,0,0,0,1,0,1,...,m,Latino,no,yes,Brazil,no,5,18 and more,Self,NO
2,1,1,0,1,1,0,1,1,1,1,...,m,Latino,yes,yes,Spain,no,8,18 and more,Parent,YES
3,1,1,0,1,0,0,1,1,0,1,...,f,White-European,no,yes,United States,no,6,18 and more,Self,NO
4,1,0,0,0,0,0,0,1,0,0,...,f,?,no,no,Egypt,no,2,18 and more,?,NO

In [10]:
# Get info
autism_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 704 entries, 0 to 703
Data columns (total 21 columns):
A1 Score                704 non-null int64
A2 Score                704 non-null int64
A3 Score                704 non-null int64
A4 Score                704 non-null int64
A5 Score                704 non-null int64
A6 Score                704 non-null int64
A7 Score                704 non-null int64
A8 Score                704 non-null int64
A9 Score                704 non-null int64
A10 Score               704 non-null int64
Age                     704 non-null object
Gender                  704 non-null object
Ethnicity               704 non-null object
Jaundice                704 non-null object
Autism in Family        704 non-null object
Country of Residence    704 non-null object
Used App Before         704 non-null object
Result                  704 non-null int64
Age Description         704 non-null object
Relation to Patient     704 non-null object
ASD                     704 non-null object
dtypes: int64(11), object(10)
memory usage: 115.6+ KB

In [11]:
# Replace Values
autism_data = autism_data.replace(to_replace ="?", value ="Not Available")
autism_data = autism_data.replace(to_replace ="others", value ="Not Available")
autism_data.head()

,A1 Score,A2 Score,A3 Score,A4 Score,A5 Score,A6 Score,A7 Score,A8 Score,A9 Score,A10 Score,...,Gender,Ethnicity,Jaundice,Autism in Family,Country of Residence,Used App Before,Result,Age Description,Relation to Patient,ASD
0,1,1,1,1,0,0,1,1,0,0,...,f,White-European,no,no,United States,no,6,18 and more,Self,NO
1,1,1,0,1,0,0,0,1,0,1,...,m,Latino,no,yes,Brazil,no,5,18 and more,Self,NO
2,1,1,0,1,1,0,1,1,1,1,...,m,Latino,yes,yes,Spain,no,8,18 and more,Parent,YES
3,1,1,0,1,0,0,1,1,0,1,...,f,White-European,no,yes,United States,no,6,18 and more,Self,NO
4,1,0,0,0,0,0,0,1,0,0,...,f,Not Available,no,no,Egypt,no,2,18 and more,Not Available,NO

In [12]:
# Clean up Ethnicity column
autism_data['Ethnicity'] = autism_data['Ethnicity'].replace(to_replace ="others", value ="Other")
autism_data['Ethnicity'] = autism_data['Ethnicity'].replace(to_replace ="Others", value ="Other")
autism_data['Ethnicity'] = autism_data['Ethnicity'].replace(to_replace ="Pasifika", value ="Oceania")
#autism_data['Ethnicity'] = autism_data['Ethnicity'].replace(to_replace ="Turkish", value ="Other")
autism_data['Ethnicity'] = autism_data['Ethnicity'].replace(to_replace ="Latino", value ="Hispanic/Latino")
autism_data['Ethnicity'] = autism_data['Ethnicity'].replace(to_replace ="Hispanic", value ="Hispanic/Latino")
#autism_data['Ethnicity'] = autism_data['Ethnicity'].replace(to_replace ="Oceania", value ="Other")

In [13]:
# Check Ethnicity Counts
autism_data.groupby(by=['Ethnicity'])['Ethnicity'].count()

Ethnicity
Asian              123
Black               43
Hispanic/Latino     33
Middle Eastern      92
Not Available       96
Oceania             12
Other               30
South Asian         36
Turkish              6
White-European     233
Name: Ethnicity, dtype: int64

In [14]:
# Drop Small Values
autism_data.drop(autism_data.loc[autism_data['Ethnicity']=='Oceania'].index, inplace=True)
autism_data.drop(autism_data.loc[autism_data['Ethnicity']=='Turkish'].index, inplace=True)

In [15]:
# Clean up Gender column
autism_data['Gender'] = autism_data['Gender'].str.capitalize()
autism_data['Gender'] = autism_data['Gender'].str.capitalize()

In [16]:
# Convert Main Set to Dataframes
autsim_data = pd.DataFrame(autism_data)

# Yes and No Dataframes for ASD
autism_yes = autism_data[autism_data['Result'] > 6]  
autism_no = autism_data[(autism_data['Result'] <= 6)]

In [17]:
# Dataframe for Nationality of People with Autism Yes
ASD_country_percent = (autism_yes['Country of Residence'].value_counts()/autism_data['Country of Residence'].value_counts())*100
ASD_country_percent = ASD_country_percent.dropna()
ASD_country_percent_df = pd.DataFrame(ASD_country_percent)
country_score = pd.DataFrame(autism_yes.groupby(by=['Country of Residence'])['Result'].mean())
country_count = pd.DataFrame(autism_yes.groupby(by=['Country of Residence'])['Country of Residence'].count())
ASD_Yes_Country_df = pd.concat([ASD_country_percent_df,country_count,country_score], axis=1, ignore_index = True)
ASD_Yes_Country_df = ASD_Yes_Country_df.reset_index()
ASD_Yes_Country_df.columns = ['Country','Percentage with Autism','Number of People with Autism','Mean Autism Score']
ASD_Yes_Country_df.head()

,Country,Percentage with Autism,Number of People with Autism,Mean Autism Score
0,Afghanistan,15.384615,2,9.000000
1,AmericanSamoa,50.000000,1,7.000000
2,Argentina,50.000000,1,8.000000
3,Australia,40.000000,10,8.900000
4,Austria,75.000000,3,8.333333

In [18]:
autism_data.groupby(by=['Ethnicity', 'ASD'])['ASD'].count()

Ethnicity        ASD
Asian            NO     107
                 YES     16
Black            NO      25
                 YES     18
Hispanic/Latino  NO      18
                 YES     15
Middle Eastern   NO      84
                 YES      8
Not Available    NO      87
                 YES      9
Other            NO      21
                 YES      9
South Asian      NO      33
                 YES      3
White-European   NO     124
                 YES    109
Name: ASD, dtype: int64

In [19]:
# Dataframe based on Ethnicity
ASD_ethnicity_yes_percent = (autism_yes['Ethnicity'].value_counts()/autism_data['Ethnicity'].value_counts())*100
ASD_ethnicity_no_percent = (autism_no['Ethnicity'].value_counts()/autism_data['Ethnicity'].value_counts())*100
ASD_ethnicity_yes_percent = ASD_ethnicity_yes_percent.dropna()
ASD_ethnicity_no_percent = ASD_ethnicity_no_percent.dropna()
ASD_ethnicity_all_score = autism_data.groupby(by=['Ethnicity'])['Result'].mean()
ASD_ethnicity_yes_score = autism_yes.groupby(by=['Ethnicity'])['Result'].mean()
ASD_ethnicity_no_score = autism_no.groupby(by=['Ethnicity'])['Result'].mean()
ASD_ethnicity_yes_count = autism_yes.groupby(by=['Ethnicity'])['Ethnicity'].count()
ASD_ethnicity_no_count = autism_no.groupby(by=['Ethnicity'])['Ethnicity'].count()
ASD_ethnicity_all_count = autism_data.groupby(by=['Ethnicity'])['Ethnicity'].count()

ASD_ethnicity_yes_percent = pd.DataFrame(ASD_ethnicity_yes_percent)
ASD_ethnicity_no_percent = pd.DataFrame(ASD_ethnicity_no_percent)

ASD_Ethnicity_df = pd.concat([ASD_ethnicity_yes_percent,
                              ASD_ethnicity_no_percent,
                              ASD_ethnicity_yes_count,
                              ASD_ethnicity_no_count,
                              ASD_ethnicity_all_count,
                              ASD_ethnicity_yes_score,
                              ASD_ethnicity_no_score,
                              ASD_ethnicity_all_score
                             ], axis=1, ignore_index = True)

ASD_Ethnicity_df = ASD_Ethnicity_df.reset_index()
ASD_Ethnicity_df.columns = ['Ethnicity','Percentage with Autism',
                            'Percentage without Autism',
                            'Number of People with Autism',
                            'Number of People without Autism',
                            'Total Number of People',
                            'Mean Autism Score for People with Autism',
                            'Mean Autism Score for People without Autism',
                            'Mean Autism Score for All People']
ASD_Ethnicity_df.head()

,Ethnicity,Percentage with Autism,Percentage without Autism,Number of People with Autism,Number of People without Autism,Total Number of People,Mean Autism Score for People with Autism,Mean Autism Score for People without Autism,Mean Autism Score for All People
0,Asian,13.008130,86.991870,16,107,123,8.250000,3.682243,4.276423
1,Black,41.860465,58.139535,18,25,43,8.000000,3.400000,5.325581
2,Hispanic/Latino,45.454545,54.545455,15,18,33,7.733333,4.277778,5.848485
3,Middle Eastern,8.695652,91.304348,8,84,92,7.875000,3.607143,3.978261
4,Not Available,9.375000,90.625000,9,87,96,7.666667,3.172414,3.593750

In [20]:
# Dataframe based on Gender
ASD_gender_yes_percent = (autism_yes['Gender'].value_counts()/autism_data['Gender'].value_counts())*100
ASD_gender_no_percent = (autism_no['Gender'].value_counts()/autism_data['Gender'].value_counts())*100
ASD_gender_yes_percent = ASD_gender_yes_percent.dropna()
ASD_gender_no_percent = ASD_gender_no_percent.dropna()
ASD_gender_all_score = autism_data.groupby(by=['Gender'])['Result'].mean()
ASD_gender_yes_score = autism_yes.groupby(by=['Gender'])['Result'].mean()
ASD_gender_no_score = autism_no.groupby(by=['Gender'])['Result'].mean()
ASD_gender_yes_count = autism_yes.groupby(by=['Gender'])['Gender'].count()
ASD_gender_no_count = autism_no.groupby(by=['Gender'])['Gender'].count()
ASD_gender_all_count = autism_data.groupby(by=['Gender'])['Gender'].count()

ASD_gender_df = pd.concat([ASD_gender_yes_percent,
                              ASD_gender_no_percent,
                              ASD_gender_yes_count,
                              ASD_gender_no_count,
                              ASD_gender_all_count,
                              ASD_gender_yes_score,
                              ASD_gender_no_score,
                              ASD_gender_all_score
                             ], axis=1, ignore_index = True, sort = True)

ASD_gender_df = ASD_gender_df.reset_index()
ASD_gender_df.columns = ['Gender','Percentage with Autism',
                            'Percentage without Autism',
                            'Number of People with Autism',
                            'Number of People without Autism',
                            'Total Number of People',
                            'Mean Autism Score for People with Autism',
                            'Mean Autism Score for People without Autism',
                            'Mean Autism Score for All People']
ASD_gender_df.head()

,Gender,Percentage with Autism,Percentage without Autism,Number of People with Autism,Number of People without Autism,Total Number of People,Mean Autism Score for People with Autism,Mean Autism Score for People without Autism,Mean Autism Score for All People
0,F,31.003040,68.996960,102,227,329,8.205882,3.568282,5.006079
1,M,23.809524,76.190476,85,272,357,8.305882,3.709559,4.803922

In [21]:
# Store Releavant DataFrame
%store autism_data
%store ASD_Ethnicity_df
%store ASD_gender_df

Stored 'autism_data' (DataFrame)
Stored 'ASD_Ethnicity_df' (DataFrame)
Stored 'ASD_gender_df' (DataFrame)